name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/heat
          ref: 665ccfc2626f88b422d1c0db07d63556f208a908

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: heat
          base-image-tag: zed
          build-contexts: heat=openstack/heat
          push: ${{ github.event_name != 'pull_request' }}
