name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/heat
          ref: a8b6e8b63973e71974df24ed6aec8f212287359e # master

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: heat
          build-contexts: heat=openstack/heat
          push: ${{ github.event_name != 'pull_request' }}
